<h1>Article list</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    <% @articles.each do |article| %>
        <tr>
            <td><%= article.title%></td>
            <td><%= article.description%></td>
            <td>placeholder</td>
        </tr>
    <% end %>
</table>