<div class="container" id="home-container">
<div class="jumbo">
<div class="p-5 mb-4 mt-5 rounded-3">
      <div class="container-fluid py-5" >
        <h1 class="display-5 fw-bold text-center">ALPHA BLOG</h1>
        <p class="fs-4 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil voluptas perferendis quod repudiandae provident tempore voluptatem eaque nobis tempora pariatur neque minima laboriosam eveniet modi maiores, adipisci obcaecati nesciunt. Nemo.</p>
        <%= button_to "Sign up", new_user_path, method: :get, class:"btn btn-primary mt-5 btn-lg position-relative top-50 start-50 translate-middle"  %>
      </div>
    </div>
  </div>
  </div>