body {
	height: 100vh;
	background-color: rgb(250, 250, 248);
}

#logo {
	float: left;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
.jumbo {
	background-image: url('bgjumbo.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #dadada;
	text-shadow: 0px 3px 5px #000;
}

#search_btn {
	color: #dadada;
}
.icon {
	background: url('snail.png');
	height: 20px;
	width: 20px;
	display: block;
	/* Other styles here */
}
