body {
	background-color: rgb(250, 250, 248);
}

.nav-btn-0 {
	background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
.jumbo {
	background-image: url('bgjumbo2.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #dadada;
	text-shadow: 0px 3px 5px #000;
}

#search_btn {
	color: #dadada;
}

/*pagination style*/

.digg_pagination {
	background: white;
	cursor: default;
	/* self-clearing method: */ }
	.digg_pagination a, .digg_pagination span, .digg_pagination em {
	  padding: 0.2em 0.5em;
	  display: block;
	  float: left;
	  margin-right: 1px; }
	.digg_pagination .disabled {
	  color: #999999;
	  border: 1px solid #dddddd; }
	.digg_pagination .current {
	  font-style: normal;
	  font-weight: bold;
	  background: #a3a3a3;
	  color: white;
	  border: 1px solid #6b6b6b; }
	.digg_pagination a {
	  text-decoration: none;
	  color: #105cb6;
	  border: 1px solid #9aafe5; }
	  .digg_pagination a:hover, .digg_pagination a:focus {
		color: #000033;
		border-color: #000033; }
	.digg_pagination .page_info {
	  background: #2e6ab1;
	  color: white;
	  padding: 0.4em 0.6em;
	  width: 22em;
	  margin-bottom: 0.3em;
	  text-align: center; }
	  .digg_pagination .page_info b {
		color: #000033;
		background: #6aa6ed;
		padding: 0.1em 0.25em; }
	.digg_pagination:after {
	  content: ".";
	  display: block;
	  height: 0;
	  clear: both;
	  visibility: hidden; }
	* html .digg_pagination {
	  height: 1%; }
	*:first-child + html .digg_pagination {
	  overflow: hidden; }

	#shiftedLetter{
		top: -5px;
		font-size: 26px;
		transform: rotate(90deg);
		color: rgb(169, 99, 24);
		left: -5px;
	  }
	#letterK{
		left: -26px;
		font-size:12px
	  }
	#sign{
		text-decoration: none;
		color: white;
	  }