<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <span class="text-muted">
            <div class="position-absolurte">&COPY; 2022 |
                <a href='mailto:slimakkrzysztof1@gmail.com' id="sign">Ślim<div class="position-relative d-inline-block " id="shiftedLetter">@</div>
                    <div class="position-relative d-inline-block" id="letterK">.....k</div>
                </a>
            </div>
        </span>
    </div>
</footer>


